.card {
    position: relative;
    width: 280px;
    height: 400px;
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 12px 24px lightgray;
    border-radius: 1.75rem;
    background-color: #fff;
    transition: all .4s;
    margin-top: 30px;
    cursor: pointer;
}

.card-pricing {
    position: absolute;
    width: 100px;
    height: 130px;
    background-color: #f6830d;
    top: -1rem;
    right: 0;
}

.card-pricing::before,
.card-pricing::after {
    content: '';
    position: absolute;
}

.card-pricing::before {
    height: 16px;
    width: 14px;
    background-color: rgb(206, 86, 43);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    left: -13.7px;
}

.card-pricing::after {
    width: 100%;
    height: 50px;
    background-color: #fff;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    bottom: -0.1rem;
    left: 0;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 24px lightgray;
}

.price {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.25rem;
}

.month {
    display: block;
    font-size: 1rem;
}

.symbol {
    font-size: 1rem;
}

.card-header-img {
    width: 40px;
    height: 40px;
}

.card-header-circle {
    display: grid;
    background-color: #eee;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    place-items: center;
    margin-bottom: 1rem;
}

.card-header-subtitle {
    display: inline-block;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: .4rem;
}

.card-header-title {
    font-size: 2.2rem;
    margin-top: 0;
}

.card-list {
    display: grid;
    row-gap: .5rem;
    list-style: none;
    padding: 0;
}

.card-list-item {
    display: flex;
    align-items: center;
}

.card-list-icon {
    font-size: 1.5rem;
    color: #f6830d;
    margin-right: 1rem;
}

.card-list-description {
    display: inline-block;
    margin: 0;
}

.card-button {
    width: 100%;
    padding: 1.25rem;
    border: none;
    border-radius: .5rem;
    background: linear-gradient(157deg, #f6830d -12%, tomato 109%);
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}